<!--|Import|-->
<link href="../assets/css/style.css" rel="stylesheet" />
<!--|Import|-->

<footer id="ft">
  <div class="ft_dv">
    <a href="../pages/politica.html" class="ft_lk">
      <h2 class="ft_tt">
        <img class="ft_im" src="../assets/images/botoes/politica.svg" />Politica
        de Privacidade
      </h2>
    </a>
    <a href="../pages/termos.html" class="ft_lk">
      <h2 class="ft_tt">
        Termos de Uso
        <img class="ft_im" src="../assets/images/botoes/termo.svg" />
      </h2>
    </a>
  </div>
  <p class="ft_tx">
    © <span id="ano-atual"></span> Todos os direitos reservados
    <a class="ft_lk1" href="https://www.instagram.com/yuriyoshimiyashiro/" target="_blank">Unique/Unilatem</a>
    | Desenvolvido por
    <a class="ft_lk1" href="https://www.instagram.com/yuriyoshimiyashiro/" target="_blank">Unique/Unilatem</a>.
  </p>
</footer>