<!--|Import|-->
<link href="../assets/css/style.css" rel="stylesheet" />
<!--|Import|-->

<header id="hd">
  <div id="lg_dv">
    <a href="/"><img class="lg" src="../assets/images/logos/unique.webp" /></a>
  </div>
  <ul id="ls">
    <li>
      <a class="ls_nv" href="/"
        ><img class="ls_im" src="../assets/images/botoes/home.svg" />HOME</a
      >
    </li>
    <li>
      <a class="ls_nv" href="../pages/contato.html"
        ><img
          class="ls_im"
          src="../assets/images/botoes/contato.svg"
        />CONTATO</a
      >
    </li>
    <li class="ls_la">
      <img class="ls_im" src="../assets/images/botoes/language.svg" />LINGUAGEM
      <ul class="ls_ls">
        <li>
          <a class="ls_nv" href="../"
            ><img class="ls_im" src="../assets/images/botoes/br.svg" />PT/BR</a
          >
        </li>
        <li>
          <a class="ls_nv" href="../pages/EN/en.html"
            ><img class="ls_im" src="../assets/images/botoes/en.svg" />EN</a
          >
        </li>
        <li>
          <a class="ls_nv" href="../pages/ES/es.html"
            ><img class="ls_im" src="../assets/images/botoes/es.svg" />ES</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <div id="mn_dv" onclick="toggleMenu()">
    <img id="mn" src="../assets/images/botoes/menu.svg" />
  </div>
  <ul id="lsm">
    <li class="ls_li">
      <a class="ls_nv" href="/"
        >HOME<img class="ls_im" src="../assets/images/botoes/home.svg"
      /></a>
    </li>
    <li class="ls_li">
      <a class="ls_nv" href="../pages/contato.html"
        >CONTATO<img class="ls_im" src="../assets/images/botoes/contato.svg"
      /></a>
    </li>
    <li class="ls_la">
      LINGUAGEM<img class="ls_im" src="../assets/images/botoes/language.svg" />
      <ul class="ls_ls">
        <li class="ls_ls_li">
          <a class="ls_nv" href="..//"
            >PT/BR<img class="ls_im" src="../assets/images/botoes/br.svg"
          /></a>
        </li>
        <li class="ls_ls_li">
          <a class="ls_nv" href="../pages/EN/en.html"
            >EN<img class="ls_im" src="../assets/images/botoes/en.svg"
          /></a>
        </li>
        <li class="ls_ls_li">
          <a class="ls_nv" href="../pages/ES/es.html"
            >ES<img class="ls_im" src="../assets/images/botoes/es.svg"
          /></a>
        </li>
      </ul>
    </li>
  </ul>
</header>
