<!--|Import|-->
<link href="../../../assets/css/style.css" rel="stylesheet" />
<!--|Import|-->

<footer id="ft">
  <div class="ft_dv">
    <a href="politica.html" class="ft_lk">
      <h2 class="ft_tt">
        <img
          class="ft_im"
          src="../../../assets/images/botoes/politica.svg"
        />Politica de Privacidad
      </h2>
    </a>
    <a href="termos.html" class="ft_lk">
      <h2 class="ft_tt">
        <img
          class="ft_im"
          src="../../../assets/images/botoes/termo.svg"
        />Condiciones de Uso
      </h2>
    </a>
  </div>
  <p class="fttx">
    © 2025 Reservados todos los derechos
    <a class="ft_lk" src="https://www.instagram.com/yuriyoshimiyashiro/"
      >Unique</a
    >.
  </p>
</footer>
