@keyframes arrow {
  0% {
    bottom: 2vw;
  }
  50% {
    bottom: 5vw;
  }
  100% {
    bottom: 2vw;
  }
}

*::selection {
  background: rgba(255, 255, 255, 0.7);
}

* {
  font-family: "Work Sans", " sans-serif";
  font-size: 1.25vw;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  z-index: 1;
}

.hd {
  width: 100%;
  height: 10vw;
  background-color: #fff;
}

.hd_div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hd_img {
  width: 30vw;
  height: 30vw;
}

.hd_div_sub {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

.hd_lk {
  color: #750013;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  width: 6vw;
  padding: 0.5vw;
  justify-content: center;
  align-items: center;
}

.hd_lk:hover {
  color: #f0f0f0;
  background: #750013;
  border-radius: 10vw;
}

.sc1 {
  width: 100%;
  height: 40vw;
  background-color: #750013;
  background-image: url(/assets/imagestim/tim.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.sc1_div {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.sc1_tt1 {
  font-size: 5vw;
  line-height: 2;
  color: #fff;
  width: 50%;
  padding: 0 0 0 5vw;
}

.sc1_tt2 {
  font-size: 3vw;
  line-height: 2;
  color: #fff;
  width: 50%;
  padding: 0 0 0 5vw;
}

.sc1_tt3 {
  font-size: 1.5vw;
  line-height: 2;
  color: #fff;
  width: 50%;
  padding: 0 0 0 5vw;
}

.sc1_img {
  width: 115vw;
}

.sc2 {
  display: flex;
  width: 100%;
  height: 40vw;
  padding: 5vw 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sc2_tt {
  font-size: 3vw;
  color: #750013;
}

.sc2_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc2_img {
  width: 90vw;
  height: 30vw;
}

.sc3 {
  display: flex;
  width: 100%;
  height: 40vw;
  padding: 5vw 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #750013;
}

.sc3_tt {
  font-size: 3vw;
  color: #f0f0f0;
}

.sc3_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sc3_div_sub1 {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sc3_tx {
  text-align: justify;
  padding: 5vw;
}

.sc3_lk {
  color: #750013;
  font-weight: 700;
  text-decoration: none;
  background: #f0f0f0;
  padding: 1vw;
  border-radius: 10vw;
  box-shadow: 0.2vw 0.2vw 0.5vw rgba(13, 13, 13, 0.5);
}

.sc3_lk:hover {
  color: #f0f0f0;
  background: #750013;
  padding: 1vw;
  border-radius: 10vw;
  box-shadow: 0.2vw 0.2vw 0.5vw rgba(13, 13, 13, 0.5);
}

.sc3_div_sub2 {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.sc3_img {
  width: 30vw;
  border-radius: 2vw;
}

.sc4 {
  display: flex;
  height: 40vw;
  justify-content: space-evenly;
  align-items: center;
}

.sc4_div1 {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 0 5vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sc4_lk {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sc4_lk:hover .sc4_tt1 {
  color: #f0f0f0;
  background: #750013;
  border-radius: 10vw;
}

.sc4_tt1 {
  color: #750013;
  padding: 0.5vw;
}

.sc4_div_sub1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.sc4_div_sub2 {
  width: 100%;
  padding: 2vw;
  background: #750013;
  border-radius: 2vw;
  box-shadow: 0.2vw 0.2vw 0.5vw rgba(13, 13, 13, 0.5);
}

.sc4_tt2 {
  text-align: center;
  color: #f0f0f0;
}

.sc4_div2 {
  display: flex;
  width: 50%;
}

.sc4_img2 {
  position: relative;
  bottom: 0;
  right: -4.3vw;
  width: 40vw;
}

.arrow {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  animation: arrow 2s ease-in-out infinite;
}

.arrow_img {
  width: 3vw;
  height: 3vw;
  padding: 0.5vw;
  background: #f0f0f0;
  border-radius: 100%;
  box-shadow: 0.2vw 0.2vw 0.5vw rgba(13, 13, 13, 0.5);
}

.arrow:hover {
  cursor: pointer;
}
