<!--|Import|-->
<link href="/assets/css/style.css" rel="stylesheet" />
<!--|Import|-->

<header id="hd">
	<div id="lg_dv"><a href="en.html"><img class="lg" src="/assets/images/logos/unique.webp" /></a></div>
	<ul id="ls">
		<li><a class="ls_nv" href="en.html"><img class="ls_im" src="/assets/images/botoes/home.svg" />HOME</a></li>
		<li><a class="ls_nv" href="contact.html"><img class="ls_im" src="/assets/images/botoes/contato.svg" />CONTACT</a></li>
		<li class="ls_la"><img class="ls_im" src="/assets/images/botoes/language.svg" />LANGUAGE
			<ul class="ls_ls">
				<li><a class="ls_nv" href="/"><img class="ls_im" src="/assets/images/botoes/br.svg" />PT/BR</a></li>
				<li><a class="ls_nv" href="en.html"><img class="ls_im" src="/assets/images/botoes/en.svg" />EN</a></li>
				<li><a class="ls_nv" href="../ES/es.html"><img class="ls_im" src="/assets/images/botoes/es.svg" />ES</a></li>
			</ul>
		</li>
	</ul>
	<div id="mn_dv" onclick="toggleMenu()"><img src="/assets/images/botoes/menu.svg" id="mn" /></div>
	<ul id="lsm">
		<li class="ls_li"><a class="ls_nv" href="en.html">HOME<img class="ls_im" src="/assets/images/botoes/home.svg" /></a></li>
		<li class="ls_li"><a class="ls_nv" href="contact.html">CONTACT<img class="ls_im" src="/assets/images/botoes/contato.svg" /></a></li>
		<li class="ls_la">LANGUAGE<img class="ls_im" src="/assets/images/botoes/language.svg" />
			<ul class="ls_ls">
				<li class="ls_ls_li"><a class="ls_nv" href="/">PT/BR<img class="ls_im" src="/assets/images/botoes/br.svg" /></a></li>
				<li class="ls_ls_li"><a class="ls_nv" href="en.html">EN<img class="ls_im" src="/assets/images/botoes/en.svg" /></a></li>
				<li class="ls_ls_li"><a class="ls_nv" href="../ES/es.html">ES<img class="ls_im" src="/assets/images/botoes/es.svg" /></a></li>
			</ul>
		</li>
	</ul>
</header>