<!DOCTYPE html>
<html lang="pt-br">
  <!-- =====Head===== -->
  <head>
    <!-- =====CSS Import===== -->
    <link type="text/css" rel="stylesheet" href="../style.css">
    <!-- =====CSS Import===== -->
  </head>
  <!-- =====Head===== -->
  <!-- =====Body===== -->
  <body>
    <!-- =====Main===== -->
    <main>
      <section class="footerSection">
        <ul class="footerUlogo">
          <li class="footerLogo">Logo</li>
        </ul>
        <ul class="footerUlist">
          <li class="footerList">Home</li>
          <li class="footerList">Contato</li>
          <li class="footerList">Acessar</li>
        </ul>
      </section>
    </main>
    <!-- =====Main===== -->
  </body>
  <!-- =====Body===== -->
</html>