<!DOCTYPE html>
<html lang="pt-br">
  <!-- =====Head===== -->
  <head>
    <!-- =====CSS Import===== -->
    <link type="text/css" rel="stylesheet" href="../style.css">
    <!-- =====CSS Import===== -->
  </head>
  <!-- =====Head===== -->
  <!-- =====Body===== -->
  <body>
    <!-- =====Main===== -->
    <main>
      <section class="headerSection">
        <ul class="headerUlogo">
          <li class="headerLogo">Logo</li>
        </ul>
        <ul class="headerUlist">
          <li class="headerList">Home</li>
          <li class="headerList">Contato</li>
          <li class="headerList">Acessar</li>
        </ul>
      </section>
    </main>
    <!-- =====Main===== -->
  </body>
  <!-- =====Body===== -->
</html>